
.app{
  background-color: rgb(36, 84, 215);
  height:100vh;
}
.container-1{
  padding-inline:2rem;
  padding-block: 2rem;
  background-color: #0a154f;
}
.header{
  background-color: black;
  color: white;
  padding:1rem;
  display: flex;
}
.search-bar{
  border:1px solid blue;
  background-color: white;
 display: flex;
 align-items: center;
}
.search-input{
  outline: none;
  border: none;
  font-size: 1rem;
  padding-inline: 1rem;
  height:100%;
  width:70%;
}
.h2-text{
  font-size: 1.25rem;
}
.h1-text{
  color:white;
  font-size: 5rem;
}
.h3-text{
  margin-bottom: 1rem;
}
.h4-text{
  color: white;
  letter-spacing: .1rem;
  font-size: 1.2rem;
  margin-bottom: 0.625rem;
}
.text-2{
  color:white;
  font-weight: 600;
}
.dot{
  margin-inline:0.625rem;
}
.container-2{
  background-color: white;
  padding-inline:2rem;
  padding-block: 2rem;
}
.list{
  display: flex;
  justify-content: space-around;
  gap:6rem;
}
.list-items{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap:0.25rem;
}
.text{
  font-weight: 600;
}
.deg{
  color:#4858aa;
  font-weight: 600;
  font-size: 1.75rem;
}
.text-1{
  font-size: 1.5rem;
}